
header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 5;

    padding: 0 40px;
    border-bottom: 1px solid grey;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo > a > img {
    width: 130px;
    margin-top: 5px;
    margin-left: 80px;
}
.serch {
    background: none;
    width: 400px;
    height: 30px;
    font-size: 1em;

    margin-left: -750px;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.serch_btn{
    background-image: url(../../global/images/search_icon.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
}

.hamburger {
    width: 2em;
    height: 1.5em;
    display: block;
    position: fixed;
    right: 3em;
    margin-bottom: 0;
    cursor: pointer;
}
.hamburgerline{
    width: 2em;

    display: block;
    
    transition: 0.5s;

    margin-top: calc(1.5em / 3);
    margin-right: auto;

    border-top: 1px solid rgb(255, 255, 255);
    
}
.hamburger > div:first-child {
    margin-top : 0.4em;
}  