*{
    margin: 0;
    padding: 0;
    border-radius: 10px;
}
body {
    width: 100%;
    background-image: url("../img/login_bg.png");
    background-repeat: no-repeat;
}
header {
    height: 150px;
    /* background-color: rgb(129, 129, 129); */
    display: flex;
}
.logo {
    width: 200px;
    height: 75px;
}
.logo > a > img {
    margin-top: 14.5px;
    margin-left: 100px;
}
.serch {
    background: none;
    width: 500px;
    height: 30px;
    margin-top: 25px;
    margin-left: 1050px;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.hamburger {
    position: absolute;
    right: 5px;
    width: 40px;
    height: 100%;
    display: block;
    float: right;
    cursor: pointer;
}
.hamburgerline{
    width: 35px;
    margin-top: 7px;
    display: block;
    margin-left: auto;
    border-top: 4px solid #fff;
}
.hamburger > div:first-child {
    margin-top : 32px;
}  

/* 최근목록 */
.recent_list {
    margin: 0 auto;
    width: 1700px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.377);
}
.underlist {
    width: 1800px;
    display: flex;
    margin-top: 70px;
}
.underlist > div {
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.377);
    margin-left: 110px;
}