@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    color: inherit; 
    text-decoration: none;
}
img{
    width: 100%; height: 100%;
}

body{
    background: url(../image/backgroundImg.png) no-repeat;
    background-size: 100% 100%;
    color: #fff;
}

.wrap{
    display: grid;
    grid-template-columns: 5fr 90fr 5fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 100vh;
}
.lbody, .rbody{
    background-color: rgb(15, 20, 50);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.threeLines{
    width: 100%;
}
.spring{
    width: 100%;
}

.cbody{
    background-color: yellow;
}
header{
    width: 100%;
    height: 100px;
}
header img{
    width: 100%; height: 100%;
}
.contants{
    width: 1300px;
    margin: 0 auto;
}
.contants .contant_menu{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contant_menu select#sort1{
    width: 150px;
    height: 30px;
    background: url("https://img.icons8.com/material-rounded/24/ffffff/give-way.png") no-repeat 5% 50% rgb(56, 56, 56);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    border: none;
    border-radius: 0px;
    text-align-last: center;
}
.contant_menu select#sort1> option{
    width: 150px;
    height: 30px;
    
}
select::-ms-expand {
    display: none;
}

.contants .contant_body{
    width: 90%;
    height: 700px;
    margin: 0 auto;
    overflow: scroll;
    margin-top: 10px;
}
.contant_body::-webkit-scrollbar{
    width: 10px;
    height: 0;
    background-color: rgb(121, 121, 121);
    border-radius: 20px;
}
.contant_body::-webkit-scrollbar-thumb{
    background-color: rgb(216, 216, 216);
    border-radius: 20px;
}

.album{
    display: grid;
    grid-template-columns: 100px 3fr 1fr 100px ;
    align-items: center;
    width: 100%; height: 100px;
    padding: 0 10%;
    margin-top: 5px;
    transition-duration: 0.5s;
}
.album:hover{
    background: linear-gradient( to right, rgba(0, 0, 0, 0.0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(0, 0, 0, 0.0) 100%);
    height: 150px;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.5s;
}
.album:hover .album_img{
    transform: scale(1.2);
}
.album:hover .album_artist{
    display: block;
}
.album:hover .album_time{
    display: block;
}
.album .album_img{
    width: 100px; height: 100px;
}
.album .album_tit{
    width: 150px; height: 100px;
    text-align: center;
    line-height: 100px;
}
.album .album_artist{
    display: none;
    width: 150px; height: 100px;
    text-align: center;
    line-height: 100px;
}
.album .album_time{
    display: none;
    width: 100px; height: 100px;
    text-align: center;
    line-height: 100px;
}